@import "tailwindcss";


/* Hide scrollbar but keep scroll functionality */
.story-tray ul::-webkit-scrollbar {
  display: none;
}

.story-tray ul {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
